* { word-wrap: break-word; word-break: break-all; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }

html, body, div, span, p, a, img, ul, li, q { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

html, body { line-height: 1; background-color: #fff; }

table { border-collapse: collapse; border-spacing: 0; }

caption, i th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }

q::before, q::after, blockquote::before, blockquote::after { content: ''; content: none; }

a, a:active, a:hover { text-decoration: none; -webkit-appearance: none; }

img { vertical-align: middle; border: none; -webkit-touch-callout: none; }

ul, ol, dl { list-style-type: none; list-style: none; }

input, button { -webkit-appearance: none; outline: none; border: none; font-family: 'PingFang SC','Microsoft YaHei','SimSun','Arial', sans-serif; }

div, input, li { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.full, html, body { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: auto; }

body { font-family: 'PingFang SC','Microsoft YaHei','SimSun','Arial', sans-serif; position: relative; -webkit-text-size-adjust: 100% !important; text-size-adjust: 100% !important; font-size: 16px; }

.container { height: 100vh; overflow: hidden; }

.weui-content { position: relative; padding-top: 50px; height: 100vh; overflow: auto; box-sizing: content-box; }

.weui-pull-to-refresh__layer { position: absolute; top: 0; left: 0; width: 100%; }

html { font-size: 20vw; }

@media screen and (max-width: 320px) { html { font-size: 64px; } }

@media screen and (min-width: 540px) { html { font-size: 108px; } }

body { min-width: 320px; max-width: 540px; margin: 0 auto; }

.line-camp { text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /*! autoprefixer: off */ -webkit-box-orient: vertical; /* autoprefixer: on */ }

.weui-btn { width: 100%; }

.weui-btn.long { border-radius: 0; border: none; }

.weui-btn.long::after { display: none; }

.weui-btn.blue { background: #22c8d8; }

.weui-btn.weui-btn_disabled.blue { background: rgba(34, 200, 216, 0.3); }

header { padding: 0.2rem 0.2rem 0.26667rem 0.2rem; }

header .title { font-size: 18px; font-weight: 500; color: #373844; line-height: 1; padding-bottom: 0.13333rem; }

header .card_float { padding: 0.16rem; border-radius: 4px; box-shadow: -1px 3px 10px 0px rgba(134, 176, 172, 0.35); position: relative; top: 0; left: 0; z-index: 2; }

header .card_float .cf_pic { height: 2.26667rem; border-radius: 4px; overflow: hidden; }

header .card_float .cf_pic > img { width: 100%; height: 100%; object-fit: cover; }

header .card_float .cf_title { font-size: 17px; font-weight: 500; color: #333333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 0.13333rem 0; }

header .card_float .cf_footer { display: flex; padding-bottom: 0.09333rem; }

header .card_float .cf_footer .cff_fl, header .card_float .cf_footer .cff_fr { flex: 1; font-size: 13px; font-weight: 500; color: #22c8d8; display: flex; align-items: center; }

header .card_float .cf_footer .cff_fl > img, header .card_float .cf_footer .cff_fr > img { width: 0.16rem; padding-right: 5px; }

header .stack_show { position: relative; top: 0; left: 0; z-index: 1; width: 87%; height: 0.15333rem; margin: auto; border-radius: 4px; box-shadow: -1px 3px 10px 0px rgba(134, 176, 172, 0.35); }

nav { display: flex; }

nav > a { flex: 1; height: 0.66667rem; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid #F3F6F9; font-size: 15px; color: #333333; }

nav > a.active { color: #22C8D8; }

.recommend { padding: 0.2rem 0.2rem 0.66667rem 0.2rem; background-color: #fff; }

.rmd_item { display: flex; padding: 0.2rem 0; border-bottom: 1px solid #F3F6F9; }

.rmd_item:first-of-type { padding-top: 0; }

.rmd_item .rmd_pic { flex-shrink: 0; width: 1.5rem; height: 2rem; margin-right: 0.13333rem; border-radius: 4px; overflow: hidden; position: relative; }

.rmd_item .rmd_pic::before { content: attr(data-txt); position: absolute; top: 0; right: 0; background: rgba(51, 51, 51, 0.8); border-radius: 0px 4px 0px 4px; padding: 0 0.06667rem; font-size: 12px; transform: scale(0.833); transform-origin: right top; color: white; line-height: 21px; }

.rmd_item .rmd_pic > img { width: 100%; height: 100%; object-fit: cover; }

.rmd_item .rmd_cont { flex: 1; overflow: hidden; display: flex; flex-direction: column; justify-content: space-between; }

.rmd_item .rmd_title { padding-bottom: 0.13333rem; font-size: 17px; font-weight: 500; color: #333333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.rmd_item .rmd_desc > p { display: flex; align-items: flex-start; font-size: 13px; font-weight: 400; color: #999999; line-height: 18px; padding-bottom: 2px; }

.rmd_item .rmd_desc > p .icon { display: inline-flex; align-items: center; padding-right: 5px; }

.rmd_item .rmd_desc > p img { width: 0.16rem; }

.rmd_item .rmd_bd { display: flex; justify-content: space-between; align-items: flex-end; }

.rmd_item .rmd_price { font-size: 10px; color: #9ca6b0; }

.rmd_item .rmd_price span { font-size: 18px; font-weight: bold; color: #ff6666; }

.rmd_item .rmd_price b { font-size: 10px; }

.rmd_item .rmd_btn { background: linear-gradient(-23deg, #22c8d8 0%, #22d8d2 100%); padding: 0 0.16667rem; line-height: 0.33333rem; font-size: 12px; font-weight: 500; color: white; border-radius: 4px; }

.rmd_item .rmd_btn.primary { background: transparent; border: 1px solid #666; color: #333; }

.rmd_item .rmd_btn.disable { background: #E4E7EA; color: #666; }
