* { word-wrap: break-word; word-break: break-all; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }

html, body, div, span, p, a, img, ul, li, q { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

html, body { line-height: 1; background-color: #fff; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }

q::before, q::after, blockquote::before, blockquote::after { content: ''; content: none; }

a, a:active, a:hover { text-decoration: none; -webkit-appearance: none; }

img { vertical-align: middle; border: none; -webkit-touch-callout: none; }

ul, ol, dl { list-style-type: none; list-style: none; }

input, button { -webkit-appearance: none; outline: none; border: none; font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif; }

div, input, li { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.full, html, body { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; }

body { font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif; position: relative; -webkit-text-size-adjust: 100% !important; text-size-adjust: 100% !important; font-size: 16px; }

html { font-size: 20vw; }

@media screen and (max-width: 320px) { html { font-size: 64px; } }

@media screen and (min-width: 540px) { html { font-size: 108px; } }

body { min-width: 320px; max-width: 540px; margin: 0 auto; }

.line-camp { text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /*! autoprefixer: off */ -webkit-box-orient: vertical; /* autoprefixer: on */ }

.dv { width: 2rem; height: 2rem; background-color: aqua; border: 1px solid #000; }

.search_container { position: absolute; top: 0; left: 0; z-index: 1001; width: 100%; padding: 0.13333rem 0.2rem 0.06667rem; box-sizing: border-box; }

.search_container .search_box { padding: 0 0.2rem; height: 0.44rem; border-radius: 0.22rem; background-color: rgba(255, 255, 255, 0.6); display: flex; justify-content: center; align-items: center; }

.search_container .search_box > img { width: 0.16rem; }

.search_container .search_box > input { width: 1.33333rem; align-self: stretch; background-color: transparent; padding-left: 0.13333rem; }

.search_container .search_box input:focus { flex: 1; }

.search_container .search_box input::-webkit-input-placeholder { font-size: 0.18667rem; font-family: PingFang SC; font-weight: 400; color: white; }

.search_container .search_box input::-moz-input-placeholder { font-size: 0.18667rem; font-family: PingFang SC; font-weight: 400; color: white; }

.search_container .search_box input::-ms-input-placeholder { font-size: 0.18667rem; font-family: PingFang SC; font-weight: 400; color: white; }

.weui-header { height: 2.93333rem; width: 100%; display: flex; flex-direction: column; align-items: center; }

.food_bg { width: 5rem; height: 2.93333rem; position: absolute; top: 0; left: 0; }

.food_bg > img { width: 100%; height: 100%; }

.weui-content { padding: 0rem 0.2rem 0.66667rem 0.2rem; transform: translateY(-8.5vw); }

.sale_options { display: flex; width: 4.6rem; height: 1.18667rem; background: white; box-shadow: -7px 7px 20px 0px rgba(34, 200, 216, 0.15); border-radius: 8px; align-items: center; justify-content: space-around; transform: translateY(-8.5vw); }

.sale_option > a { display: flex; flex-direction: column; align-items: center; justify-content: center; }

.sale_option > a > div:first-of-type { width: 0.49333rem; height: 0.49333rem; }

.sale_option > a > div > img { width: 100%; height: 100%; }

.sale_option_text { font-size: 0.18667rem; font-family: PingFang SC; font-weight: 500; color: #373844; margin-top: 0.11333rem; }

.commodity { width: 100%; height: 1.33333rem; position: relative; border-radius: 8px; }

.commodity > img { width: 100%; height: 100%; border-radius: 8px; }

.swiper-wrapper > .swiper-slide { margin-right: 0.13333rem; }

.swiper-wrapper .swiper-slide:nth-of-type(1) .commodity::after { content: 'Top.1'; position: absolute; top: 0; width: 0.6rem; height: 0.22667rem; display: inline-block; opacity: 0.8; right: 0; background-color: #FAAD14; font-size: 0.13333rem; font-weight: bold; color: white; display: flex; align-items: center; justify-content: center; border-radius: 4px; }

.swiper-wrapper .swiper-slide:nth-of-type(2) .commodity::after { content: 'Top.2'; position: absolute; top: 0; width: 0.6rem; height: 0.22667rem; display: inline-block; opacity: 0.8; right: 0; background: #22c8d8; font-size: 0.13333rem; font-family: DINPro; font-weight: bold; color: white; display: flex; align-items: center; justify-content: center; border-radius: 4px; }

.swiper-wrapper .swiper-slide:nth-of-type(3) .commodity::after { content: 'Top.3'; position: absolute; top: 0; width: 0.6rem; height: 0.22667rem; display: inline-block; opacity: 0.8; right: 0; background-color: #FAAD14; font-size: 0.13333rem; font-family: DINPro; font-weight: bold; color: white; display: flex; align-items: center; justify-content: center; border-radius: 4px; }

.sale_things_show_lists { display: flex; flex-wrap: wrap; justify-content: space-between; }

.food_title { display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.13333rem; }

.YC_food_title { margin-top: 0.32667rem; display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.13333rem; }

.food_first_title { font-size: 0.24rem; font-family: PingFang SC; font-weight: bold; color: #333333; line-height: 1; }

.food_second_title { width: 6px; height: 0.14rem; }

.food_second_title > img { width: 100%; height: 100%; }

.sale_things_show_list_large { width: 2.24667rem; display: flex; flex-direction: column; height: 3.2rem; border: 1px solid #efefef; border-radius: 8px; background-color: #FFFFFF; margin-bottom: 0.13333rem; }

.sale_thing_show_pic_large { width: 100%; height: 2.53333rem; border-radius: 8px 8px 0px 0px; }

.sale_thing_show_pic_large > img { width: 100%; height: 100%; object-fit: cover; border-radius: 8px; }

.sale_thing_show_title { font-size: 0.17333rem; font-family: PingFang SC; font-weight: 500; color: #333333; line-height: 1; margin-top: 0.12667rem; text-overflow: -o-ellipsis-lastline; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /*! autoprefixer: off */ -webkit-box-orient: vertical; /* autoprefixer: on */ line-height: 1.2;padding-left: 10px }

.sale_thing { font-size: 0.13333rem; font-family: PingFang SC; font-weight: 400; color: #9ca6b0; line-height: 1; margin-top: 0.12rem; align-self: flex-end; margin-right: 0.13333rem; padding-bottom: 15px; }

.sale_thing_price { font-size: 0.24rem; font-family: PingFang SC; font-weight: bold; color: #ff6653; line-height: 1; }

.food_bottom_tabbar { position: fixed; bottom: 0; display: flex; justify-content: space-around; align-items: center; width: 5rem; height: 0.65333rem; background: white; box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.04); }

.food_tabbar { display: flex; flex-direction: column; align-items: center; }

.wy-Module { transform: translateY(-1.9vw); }

.food_tabbar > div:first-of-type { width: 0.27333rem; height: 0.26rem; }

.food_tabbar > div:first-of-type > img { width: 100%; height: 100%; }

.weui-tabbar_label { height: 0.16rem; font-size: 0.13333rem; font-family: PingFang SC; font-weight: 400; color: #999999; margin-top: 0.08rem; }

.index { color: #22C8D8; }

.sale_template_price { font-size: 0.24rem; font-family: PingFang SC; font-weight: bold; color: #ff6653; margin-top: 0.13333rem; align-self: flex-end; margin-right: 0.13333rem; }

.doler { font-size: 0.2rem; font-family: PingFang SC; font-weight: 500; color: #ff6653; }

.qi { font-size: 0.13333rem; font-family: PingFang SC; font-weight: 400; color: #9ca6b0; margin-left: 2px; }
