* { word-wrap: break-word; word-break: break-all; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }

html, body, div, span, p, a, img, ul, li, q { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

html, body { line-height: 1; background-color: #fff; }

table { border-collapse: collapse; border-spacing: 0; }

caption, i th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }

q::before, q::after, blockquote::before, blockquote::after { content: ''; content: none; }

a, a:active, a:hover { text-decoration: none; -webkit-appearance: none; }

img { vertical-align: middle; border: none; -webkit-touch-callout: none; }

ul, ol, dl { list-style-type: none; list-style: none; }

input, button { -webkit-appearance: none; outline: none; border: none; font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif; }

div, input, li { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.full, html, body { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: auto; }

body { font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif; position: relative; -webkit-text-size-adjust: 100% !important; text-size-adjust: 100% !important; font-size: 16px; }

html { font-size: 20vw; }

@media screen and (max-width: 320px) { html { font-size: 64px; } }

@media screen and (min-width: 540px) { html { font-size: 108px; } }

body { min-width: 320px; max-width: 540px; margin: 0 auto; }

.line-camp { text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /*! autoprefixer: off */ -webkit-box-orient: vertical; /* autoprefixer: on */ }

.weui-content { min-height: 100vh; background-color: #F4F4F4; }

section .card:last-of-type { margin-bottom: 0; }

.card { margin-bottom: 0.06667rem; padding: 0.2rem 0.2rem 0 0.2rem; background-color: #fff; box-sizing: border-box; }

.card .card_hd { padding-bottom: 0.2rem; border-bottom: 1px solid #F3F6F9; display: flex; }

.card .card_bd { height: 0.54667rem; display: flex; justify-content: space-between; align-items: center; font-size: 14px; font-weight: 500; color: #999999; }

.card .card_pic { flex-shrink: 0; width: 1.06667rem; height: 1.41333rem; border-radius: 4px; overflow: hidden; margin-right: 0.13333rem; }

.card .card_pic > img { width: 100%; height: 100%; object-fit: cover; }

.card .card_cont { flex: 1; overflow: hidden; display: flex; flex-direction: column; justify-content: space-between; }

.card .card_cont .order_title { font-size: 17px; font-weight: 500; color: #333333; text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /*! autoprefixer: off */ -webkit-box-orient: vertical; /* autoprefixer: on */ }

.card .card_cont .order_desc > p { display: flex; align-items: flex-start; font-size: 13px; font-weight: 400; color: #999999; line-height: 18px; padding-bottom: 2px; }

.card .card_cont .order_desc > p .icon { flex-shrink: 0; display: inline-flex; align-items: center; padding-right: 5px; }

.card .card_cont .order_desc > p .txt { flex: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.card .card_cont .order_desc > p img { width: 0.16rem; }

.card .btn_group { font-size: 14px; color: #333333; }

.card .btn_group span { display: inline-block; line-height: 0.4rem; border-radius: 0.2rem; padding: 0 0.2rem; border: 1px solid #BDBDBD; color: #999; box-sizing: border-box; }

.card .btn_group span.red { background: linear-gradient(-35deg, #22c8d8, #22d8d2); border: none; font-size: 13px; font-weight: 500; color: #fff; }

.card .btn_group span.blue { background: linear-gradient(-35deg, #ff6766, #ff9566); border: none; font-size: 13px; font-weight: 500; color: #fff; }

.card .btn_group span.golden { background: linear-gradient(-35deg, #f9b14b, #ffd496); border: none; font-size: 13px; font-weight: 500; color: #fff; }
