* { word-wrap: break-word; word-break: break-all; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }

html, body, div, span, p, a, img, ul, li, q { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

html, body { line-height: 1; background-color: #fff; }

table { border-collapse: collapse; border-spacing: 0; }

caption, i th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }

q::before, q::after, blockquote::before, blockquote::after { content: ''; content: none; }

a, a:active, a:hover { text-decoration: none; -webkit-appearance: none; }

img { vertical-align: middle; border: none; -webkit-touch-callout: none; }

ul, ol, dl { list-style-type: none; list-style: none; }

input, button { -webkit-appearance: none; outline: none; border: none; font-family: 'PingFang SC', 'Microsoft YaHei', 'SimSun', 'Arial', sans-serif; }

div, input, li { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.full, html, body { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: auto; }

body { font-family: 'PingFang SC', 'Microsoft YaHei', 'SimSun', 'Arial', sans-serif; position: relative; -webkit-text-size-adjust: 100% !important; text-size-adjust: 100% !important; font-size: 16px; }

.container { height: 100vh; width: 100vw; overflow: hidden; }

.container > .err { width: 100%; height: 100%; object-fit: cover; }

.weui-content { position: relative; padding-top: 50px; height: 100vh; overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch; box-sizing: content-box; }

.weui-pull-to-refresh__layer { position: absolute; top: 0; left: 0; width: 100%; }

html { font-size: 20vw; }

@media screen and (max-width: 320px) { html { font-size: 64px; } }

@media screen and (min-width: 540px) { html { font-size: 108px; } }

body { min-width: 320px; max-width: 540px; margin: 0 auto; }

.line-camp { text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /*! autoprefixer: off */ -webkit-box-orient: vertical; /* autoprefixer: on */ }

.weui-btn { width: 100%; }

.weui-btn.long { border-radius: 0; border: none; }

.weui-btn.long::after { display: none; }

.weui-btn.blue { background: #22c8d8; }

.weui-btn.weui-btn_disabled.blue { background: rgba(34, 200, 216, 0.3); }

.dv { width: 2rem; height: 2rem; background-color: aqua; border: 1px solid #000; }

body { background-color: #F4F4F5; }

.collection_container { width: 100%; display: flex; flex-direction: column; align-items: center; }

.collection_template { display: flex; width: 4.6rem; height: 1.52rem; background: white; border-radius: 8px; padding: 0.2rem 0.16667rem 0.2rem 0.16667rem; margin-top: 0.06667rem; }

.collection_pic { width: 1.50667rem; height: 1.12rem; border-radius: 8px; }

.collection_pic > img { width: 100%; height: 100%; border-radius: 8px; }

.collection_info { display: flex; flex-direction: column; margin-left: 0.16rem; justify-content: space-between; }

.collection_title { font-size: 0.2rem; font-family: PingFang SC; max-width: 2.56667rem; font-weight: 500; color: #323333; line-height: 1.2; text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /*! autoprefixer: off */ -webkit-box-orient: vertical; /* autoprefixer: on */ }

.price_info { display: flex; width: 100%; justify-content: space-between; }

.price { font-size: 0.2rem; font-family: PingFang SC; font-weight: bold; color: #eb6453; }

.rem { font-size: 0.17333rem; }

.delete { width: 0.50667rem; height: 0.22667rem; border: 1px solid #999999; border-radius: 6px; font-size: 0.14667rem; font-family: PingFang SC; font-weight: 500; color: #999999; display: flex; align-items: center; justify-content: center; }
