@charset "UTF-8";
* { word-wrap: break-word; word-break: break-all; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }

html, body, div, span, p, a, img, ul, li, q { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

html, body { line-height: 1; background-color: #fff; }

table { border-collapse: collapse; border-spacing: 0; }

caption, i th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }

q::before, q::after, blockquote::before, blockquote::after { content: ''; content: none; }

a, a:active, a:hover { text-decoration: none; -webkit-appearance: none; }

img { vertical-align: middle; border: none; -webkit-touch-callout: none; }

ul, ol, dl { list-style-type: none; list-style: none; }

input, button { -webkit-appearance: none; outline: none; border: none; font-family: 'PingFang SC', 'Microsoft YaHei', 'SimSun', 'Arial', sans-serif; }

div, input, li { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.full, html, body { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: auto; }

body { font-family: 'PingFang SC', 'Microsoft YaHei', 'SimSun', 'Arial', sans-serif; position: relative; -webkit-text-size-adjust: 100% !important; text-size-adjust: 100% !important; font-size: 16px; }

.container { height: 100vh; width: 100vw; overflow: hidden; }

.container > .err { width: 100%; height: 100%; object-fit: cover; }

.weui-content { position: relative; padding-top: 50px; height: 100vh; overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch; box-sizing: content-box; }

.weui-pull-to-refresh__layer { position: absolute; top: 0; left: 0; width: 100%; }

html { font-size: 20vw; }

@media screen and (max-width: 320px) { html { font-size: 64px; } }

@media screen and (min-width: 540px) { html { font-size: 108px; } }

body { min-width: 320px; max-width: 540px; margin: 0 auto; }

.line-camp { text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /*! autoprefixer: off */ -webkit-box-orient: vertical; /* autoprefixer: on */ }

.weui-btn { width: 100%; }

.weui-btn.long { border-radius: 0; border: none; }

.weui-btn.long::after { display: none; }

.weui-btn.blue { background: #22c8d8; }

.weui-btn.weui-btn_disabled.blue { background: rgba(34, 200, 216, 0.3); }

.dv { width: 2rem; height: 2rem; background-color: aqua; border: 1px solid #000; }

.header { display: flex; flex-direction: row; width: 100%; height: 1.74rem; padding: 0.2rem; border-bottom: 1px solid #f3f6f9; }

.commodity { width: 1.50667rem; height: 1.2rem; border-radius: 4px; flex-shrink: 0; }

.commodity > img { width: 100%; height: 100%; }

.commodity_info { display: flex; flex-direction: column; margin-left: 0.16667rem; }

.commodity_title { font-size: 0.2rem; font-family: PingFang SC; font-weight: 500; color: #323333; text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 1.2; }

.commodity_choose { display: flex; align-items: center; margin-top: 0.12667rem; justify-content: space-between; }

.seven { width: 1.36rem; height: 0.26667rem; background: #f8f8f8; border-radius: 2px; font-size: 0.16rem; font-family: PingFang SC; font-weight: 500; color: #faad14; display: flex; align-items: center; justify-content: center; }

.nums { font-size: 0.16rem; font-family: PingFang SC; font-weight: 400; color: #999899; }

.express { margin-top: 0.17333rem; font-size: 0.17333rem; font-family: PingFang SC; font-weight: 500; color: #333333; }

.statues { display: flex; flex-direction: column; height: 1.24667rem; width: 100vw; padding: 0rem 0.46667rem 0rem 0.46667rem; border-bottom: 1px solid #f3f6f9; }

.statue { width: 100%; display: flex; margin-top: 0.63333rem; }

.statue > div { width: 0.09333rem; height: 0.09333rem; border-radius: 50%; background-color: #CCCCCC; margin-right: 0.8rem; position: relative; }

.statue > div.active { background-color: #22C8D8; }

.statue > div:first-of-type { margin-left: 0.2rem; }

.statue > div:last-of-type { margin-right: 0rem; }

.already::after { content: '已发货'; position: absolute; top: -6vw; left: -4.7vw; width: 0.56667rem; height: 0.25333rem; border-radius: 4px; font-size: 0.16rem; font-family: PingFang SC; font-weight: 500; color: #999999; opacity: 0.8; display: flex; align-items: center; justify-content: center; border-radius: 2px; -webkit-line-clamp: 1; }

.already.active::after { background: url("../image/statue_choosed.png"); height: 0.32rem; background-size: 100% 100%; transform: translateY(-3vw); padding-bottom: 0.12rem; }

.transport::after { content: '运输中'; position: absolute; top: -6vw; left: -4.7vw; width: 0.56667rem; height: 0.25333rem; border-radius: 4px; font-size: 0.16rem; font-family: PingFang SC; font-weight: 500; color: #999999; opacity: 0.8; display: flex; align-items: center; justify-content: center; border-radius: 4px; -webkit-line-clamp: 1; }

.express_live::after { content: '派件中'; position: absolute; top: -6vw; left: -4.7vw; width: 0.56667rem; height: 0.25333rem; border-radius: 4px; font-size: 0.16rem; font-family: PingFang SC; font-weight: 500; color: #999999; opacity: 0.8; display: flex; align-items: center; justify-content: center; border-radius: 4px; -webkit-line-clamp: 1; }

.wait::after { content: '待提货'; position: absolute; top: -6vw; left: -4.7vw; width: 0.56667rem; height: 0.25333rem; border-radius: 4px; font-size: 0.16rem; font-family: PingFang SC; font-weight: 500; color: #999999; opacity: 0.8; display: flex; align-items: center; justify-content: center; border-radius: 4px; -webkit-line-clamp: 1; }

.get::after { content: '已签收'; position: absolute; top: -6vw; left: -4.7vw; width: 0.56667rem; height: 0.25333rem; border-radius: 4px; font-size: 0.16rem; font-family: PingFang SC; font-weight: 500; color: #999999; opacity: 0.8; display: flex; align-items: center; justify-content: center; border-radius: 4px; -webkit-line-clamp: 1; }

.city { margin-top: 0.1rem; width: 100%; display: flex; justify-content: space-between; }

.departure { font-size: 0.16rem; font-family: PingFang SC; font-weight: 500; color: #333333; line-height: 1.2; }

.destination { font-size: 0.16rem; font-family: PingFang SC; font-weight: 500; color: #333333; line-height: 1.2; }

.body { width: 100vw; padding: 0.26667rem 0.2rem 0.86667rem 0.2rem; }

.line { position: absolute; top: 3.83333rem; left: 0.66667rem; width: 2px; height: 6.14667rem; border-left: 1px solid #e2e2e2; z-index: 0; }

.statue_template { display: flex; height: 0.90667rem; margin-bottom: 0.53333rem; }

.statue_template.finshed { opacity: 0.5; }

.statue_time { display: flex; flex-direction: column; min-width: 0.96667rem; display: flex; align-items: center; justify-content: center; background-color: #FFFFFF; z-index: 10; }

.time { font-size: 0.21333rem; font-family: PingFang SC; font-weight: 500; color: #333333; }

.data { margin-top: 0.1rem; font-size: 0.16rem; font-family: PingFang SC; font-weight: 500; color: #666666; text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; /*! autoprefixer: off */ -webkit-box-orient: vertical; /* autoprefixer: on */ }

.statue_information { display: flex; flex-direction: column; margin-left: 0.4rem; }

.statue_show { font-size: 0.21333rem; font-family: PingFang SC; font-weight: 500; color: #333333; margin-bottom: 0.12667rem; }

.statue_message { font-size: 0.16rem; font-family: PingFang SC; font-weight: 500; color: #333333; text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; /*! autoprefixer: off */ -webkit-box-orient: vertical; /* autoprefixer: on */ line-height: 0.28rem; }
