@import './_base';
@import './_tool';
body {
    // background: linear-gradient(to bottom, #22C8D8, #fff rem(250));
    background-color: #F4F4F4;
}
.main {
    padding: rem(30) rem(30) 0;
    background-color: #fff;
    // 标题
    .act_title {
        font-size: 18px;
        // color: #fff;
        color: #333;
        font-weight: bold;
        line-height: 1.2em;
        margin-bottom: rem(30);
        > span {
            display: inline-block;
            line-height: 1;
            padding: rem(10) rem(20);
            box-sizing: border-box;
            text-align: center;
            font-weight: normal;
            color: #fff;
            background-color: #FAAD14;
            font-size: 12px;
            transform: scale(.83);
            transform-origin: left center;
            border-radius: 0px 4px 0px 4px;
        }
    }
    // 标题附属卡片
    article {
        padding: rem(30) rem(24);
        border-radius: 4px;
        // background-color: #fff;
        background-color: rgba(34,200,216,.05);
        font-size: 13px;
        color: #333;
        // box-shadow:-3px 8px 13px 0px rgba(34,200,216,0.15);
        .art_hd {
            display: flex;
            flex-wrap: wrap;
            .art_title, .art_time {
                // flex: 1;
                padding-bottom: rem(30);
                min-width: 50%;
                white-space: nowrap;
            }
            .art_title {
                color: #22C8D8;
            }
        }
        .art_bd {
            display: flex;
            align-items: flex-start;
            > div {
                line-height: 1.2em;
                text-overflow: -o-ellipsis-lastline;
                overflow: hidden;
                text-overflow: ellipsis; // 溢出文本省略号显示
                display: -webkit-box;
                -webkit-line-clamp: 2; // 限制块级元素文本行数
                /*! autoprefixer: off */
                -webkit-box-orient: vertical; // 重置文本排列方式
                /* autoprefixer: on */
                width: 100%;
            }
            .icon {
                margin-right: rem(14);
            }
        }
        .icon {
            width: rem(27);
            vertical-align: top;
            margin-right: rem(6);
        }
    }
    // 内容区块
    .content {
        color: #666;
        font-size: 14px;
        line-height: 1.2em;
        padding-top: rem(26);
        padding-bottom: rem(38);
        display: flex;
        flex-direction: column;
        > * {
            flex: 1;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
        }
    }
    .cte-pic {
        width: 100%;
        height: rem(480);
        margin: rem(14) 0;
        border-radius: 4px;
        overflow: hidden;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// 热门活动
.hot_act {
    background-color: #fff;
    margin-top: 3px;
    margin-bottom: rem(60);
    .hot_title {
        color: #373844;
        font-size: 18px;
        line-height: 1;
        padding: rem(20) rem(30);
    }
    .hot_bd {
        overflow-x: auto;
        .hot_wrapper {
            display: flex;
            padding: 0 rem(30);
            .act_item {
                width: rem(334);
                flex-shrink: 0;
                margin-right: rem(20);
            }
            .act_pic {
                height: rem(200);
                border-radius: 4px;
                overflow: hidden;
                margin-bottom: rem(20);
                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover
                }
            }   
            .act_title {
                font-size: 15px;
                color: #373844;
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}