@import './_base';
@import './_tool';

.weui-content {
    // background-color:#F4F4F4;
}

// 搜索区块
.search_cont {
    padding: rem(30) rem(30) 0 rem(30);
    .search {
        height: rem(66);
        padding: 0 rem(40);
        border-radius: rem(33);
        background-color: #F3F6F9;
        display: flex;
        align-items: center;
        > img {
            flex-shrink: 0;
            width: rem(24);
            margin-right: rem(20);
        }
        > input {
            flex: 1;
            align-self: stretch;
            background-color: transparent;
        }
    }
}

nav {
    height: rem(100);
    display: flex;
    > a {
        flex: 1;
        // background-color: aqua;
        border-bottom: 1px solid #F3F6F9;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color:rgba(51,51,51,1);
        &::after {
            content: '';
            width: 0;height: 0;
            border-width: rem(10) rem(10);
            border-color: #999 transparent transparent transparent;
            border-style: solid;
            transform: translateY(50%);
        }
        &::before {
            // content: '';
            // width: 0;height: 0;
            // border-width: rem(10) rem(10);
            // border-color: transparent transparent #999 transparent;
            // border-style: solid;
        }
    }
}
// 为您推荐
.recommend {
    // margin-top: rem(10);
    padding: rem(30) rem(30) rem(100) rem(30);
    background-color: #fff;
}
.rmd_item {
    display: flex;
    padding: rem(30) 0;
    border-bottom: 1px solid #F3F6F9;
    &:first-of-type {
        padding-top: 0;
    }
    .rmd_pic {
        flex-shrink: 0;
        width: rem(225);
        height: rem(300);
        margin-right: rem(20);
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        &::before {
            content: attr(data-txt);
            position: absolute;
            top: 0; right: 0;
            background:rgba(51,51,51,.8);
            border-radius:0px 4px 0px 4px;
            padding: 0 rem(10);
            font-size:12px;
            transform: scale(.833);
            transform-origin: right top;
            color:rgba(255,255,255,1);
            line-height: 21px;
        }
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .rmd_cont {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .rmd_title {
        padding-bottom: rem(20);
        // background-color: aqua;
        font-size: 17px;
        font-weight:500;
        color:rgba(51,51,51,1);
        // line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .rmd_desc > p {
        display: flex;
        align-items: flex-start;
        font-size: 13px;
        font-weight:400;
        color:rgba(153,153,153,1);
        line-height: 18px;
        padding-bottom: 2px;
        .icon { 
            display: inline-flex; 
            align-items: center; 
            padding-right: 5px;
        }
        img {
            width: rem(24);
        }
    }
    .rmd_bd {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .rmd_price {
        font-size: 10px;
        color:rgba(156,166,176,1);
        span {
            font-size:18px;
            font-weight:bold;
            color:rgba(255,102,102,1);
            // padding-right: 3px;
        }
        b {
            font-size: 10px;
        }
    }
    .rmd_btn {
        background:linear-gradient(-23deg,rgba(34,200,216,1) 0%,rgba(34,216,210,1) 100%);
        padding: 0 rem(25);
        line-height: rem(50);
        font-size: 12px;
        font-weight:500;
        color:rgba(255,255,255,1);
        border-radius: 4px;
    }
}
.title {
    font-size: 18px;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height: 1;
    padding-bottom: rem(20);
}
