@import './_base';
@import './_tool';

.h1 {
    font-size: 18px;
    font-weight:bold;
    color:rgba(55,56,68,1);
}
header {
    padding: rem(30);
    background: linear-gradient(to bottom, #22C8D8, #fff);
    .tips {
        height: rem(64);
        border-radius: 4px;
        background-color: rgba(255, 255, 255, .6);
        font-size: 12px;
        font-weight:400;
        color:rgba(34,200,216,1);
        padding-left: rem(30);
        margin: rem(20) 0 rem(30);
        display: flex;
        // justify-content: center;
        align-items: center;
    }
}
// 顶部卡片
.top_card {
    display: flex;
    .card_pic {
        flex-shrink: 0;
        width: rem(200);
        height: rem(226);
        border-radius: 4px;
        overflow: hidden;
        margin-right: rem(24);
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .card_cont {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card_title {
        font-size: 17px;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height: 21px;
        padding-bottom: rem(20);
    }
    .card_desc {
        font-size: 13px;
        color:rgba(255,255,255,1);
        display: flex;
        align-items: center;
        > img {
            width: rem(24);
            padding-right: 4px;
        }
    }
    .card_bd {
        font-size: 12px;
        font-weight:500;
        color:rgba(255,255,255,1);
        > b { font-size: 18px; }
    }
}
// 头部悬浮卡片
.card_float {
    position: relative;
    z-index: 9;
    width: rem(690);
    padding: rem(14) rem(24);
    background: #fff url('../images/tourinfo_cardbg.png') no-repeat bottom right;
    background-size: rem(180);
    box-shadow:-1px 4px 6px 0px rgba(34,200,216,0.15);
    font-size: 14px;
    font-weight:500;
    color:rgba(51,51,51,1);
    border-radius: 4px;
    overflow: hidden;
    // line-height:42px;
    .ve_title {
        font-size: 22px;
        font-weight:bold;
        color:rgba(51,51,51,1);
        display: flex;
        justify-content: space-between;
        line-height: 1;
        padding-bottom: rem(10);
        .ve_price {
            font-size: 11px;
            font-weight:500;
            color:rgba(102,102,102,1);
            // line-height:29px;
            > span {
                font-size: 22px;
                font-weight:500;
                color:rgba(34,200,216,1);
                // line-height:58px;
            }
        }
    }
    .ve_time, .ve_tel, .ve_location {
        height: rem(83);
        border-bottom: 1px solid #F3F6F9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > img {
            width: rem(27);
        }
    }
    .ve_location {
        border-bottom: none;
    }
}

// tab 选项卡
nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #F9F9F8;
    height: rem(100);
    box-sizing: border-box;
    > span {
        width: rem(100);
        font-size: 14px;
        font-weight:500;
        color:rgba(55,56,68,1);
        // background-color: aqua;
        padding-top: rem(20);
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        &.active {
            color: #22C8D8;
            border-bottom: 2px solid #22C8D8;
        }
    }
}
// 文章
article {
    padding: rem(30);
    max-height: rem(1400);
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    .title {
        font-size: 18px;
        font-family:PingFang SC;
        font-weight:bold;
        color:rgba(51,51,51,1);
        padding-bottom: rem(20);
        line-height: 1;
    }
    .ate_txt {
        font-size: 14px;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:20px;
        > p {
            padding-bottom: rem(18);
        }
    }
    .ate_pic {
        height: rem(430);
        border-radius: 4px;
        overflow: hidden;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .see_more {
        position: relative;
        height: rem(90);
        box-shadow: 0 -10px 10px 0 #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color:rgba(156,166,176,1);
        // background-color: aqua;
    }
}
// 规则
.pg_rule {
    padding: 0 rem(30);
    .title {
        font-size: 18px;
        font-weight:500;
        color:rgba(55,56,68,1);
        line-height: 1;
        padding-bottom: rem(30);
    }
    .rule_title {
        font-size: 14px;
        font-weight:bold;
        color:rgba(55,56,68,1);
        line-height: 1;
        padding-bottom: rem(14);
    }
    .rule_group {
        .rule_item:last-of-type {
            // background-color: red;
            padding-bottom: 0;
        }
    }
    .rule_item {
        display: flex;
        align-items: flex-start;
        padding-bottom: rem(30);
        .icon { 
            flex-shrink: 0;
            display: inline-flex; 
            align-items: center; 
            padding-right: 5px;
            // font-size: 13px;
            line-height: 23px;
            > img { width: rem(22); }
        }
        .txt {
            flex: 1;
            > p:first-of-type {
                font-size: 13px;
                font-weight:500;
                color:rgba(55,56,68,1);
                line-height: 23px;
            }
            > p:last-of-type {
                font-size: 12px;
                font-weight:500;
                color:rgba(128,129,138,1);
                line-height: 1.2em;
            }
        }
    }
    .rule_btn {
        height: rem(100);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight:500;
        color:rgba(34,200,216,1);
    }
}
// 评论
.comment {
    padding: rem(20) rem(30);
    margin-bottom: rem(100);
    .cmt_item {
        // padding: rem() rem(30);
        padding-top: rem(30);
        border-bottom: 1px solid #F3F6F9;
    }
    .cmt_hd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size:12px;
        font-weight:500;
        color:rgba(156,166,176,1);
        > div:first-of-type {
            display: flex;
            align-items: center;
            font-size: 15px;
            font-weight:500;
            color:rgba(55,56,68,1);
            > img {
                width: rem(60);
                height: rem(60);
                border-radius: 50%;
                overflow: hidden;
                object-fit: cover;
                margin-right: 5px;
            }
        }
        .star {
            display: flex;
            align-items: center;
            img {
                width: rem(20);
            }
        }
    }
    .cmt_bd {
        padding-left: rem(60);
        padding-bottom: rem(30);
        p {
            font-size:14px;
            font-weight:500;
            color:rgba(90,97,105,1);
            line-height: 21px;
        }
        span {
            font-size: 12px;
            font-weight:500;
            color:rgba(156,166,176,1);
            line-height: 20px;
        }
    }
    .look_all {
        height: rem(110);
        display: flex;
        justify-content: center;
        align-items: center;
        > span {
            width: rem(226);
            height: rem(54);
            border:2px solid rgba(205,209,212,1);
            border-radius: rem(27);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            color:rgba(156,166,176,1);
        }
    }
}
// 页脚按钮
footer {
    position: fixed;
    bottom: 0;left: 0;
    width: 100vw;
    height: rem(98);
    display: flex;
    > a {
        width: 100%;
        display: inline-block;
        background-color: #22C8D8;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        font-weight: 500;
        color:rgba(255,255,255,1);
    }
}
.weui-popup__modal {
    display: flex;
    flex-direction: column;
    .close-popup {
        padding: rem(30) rem(30) 0 rem(30);
        // background-color: red;
        align-self: flex-end;
    }
}
#screen img {
    width: rem(28);
}
// 弹层内容区块
.screen_cont {
    padding: 0 rem(30);
    // background-color: aqua;
    .screen_item {
        padding-bottom: rem(30);
    }
    .screen_title {
        font-size: 18px;
        font-weight:500;
        color:rgba(51,51,51,1);
        line-height: 1;
        padding-bottom: rem(20);
    }
    .screen_radio {
        margin-bottom: rem(20);
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    // 自定义 input radio 样式
    input[type="radio"] {
        display: none;  // 隐藏原生控件
        &:checked + label {
            color: #22C8D8;
            background:rgba(34,200,216, .2);
        }
    }
    label {
        display: flex;
        // height: rem(100);
        background:rgba(243,246,249,1);
        border-radius: 4px;
        padding: rem(34) rem(24);
        align-items: center;
        font-size: 14px;
        line-height: 1.2em;
        font-weight:500;
        color:rgba(102,102,102,1);
    }

    .undetermined {
        height: rem(170);
    }
}



