@import './_tool';

.weui-content, .weui-cells_form {
    background-color: #F4F4F4;
    height: 100vh;
}
.weui-cells {
    margin-top: 0;
    line-height: inherit;
    &::after, &::before {
        display: none;
    }
    &.textarea {
        display: flex;
        flex-direction: column;
        height: rem(400);
        margin: rem(10) 0;
        .weui-cell.textarea {
            flex: 1;
        }
    }
    .weui-cell__bd {
        font-size: 12px;
        color:rgba(215,215,215,1);
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.weui-cell {
    height: rem(100);
    padding: 0 rem(30);
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid #F3F6F9;
    background-color: #fff;
    &::before {
        display: none;
    }
    &.textarea {
        flex-shrink: 0;
    }
    &.select .weui-cell__bd::after {
        content: '';
        position: absolute;
        align-self: center;
        right: 1px;
        width: 4px;
        height: 4px;
        border: 1px solid #000;
        border-color: #000 #000 transparent transparent;
        transform: rotateZ(45deg);
    }
    .weui-cell__hd {
        flex-shrink: 0;
        width: rem(157);
        display: flex;
        label {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 17px;
            font-weight:500;
            color:rgba(153,153,153,1);
        }
    }
    .weui-cell__bd {
        flex: 1;
        display: flex;
        position: relative;
        // background-color: aqua;
        > span {
            flex-shrink: 0;
            white-space: nowrap;
            align-self: center;
            font-size:12px;
            color:rgba(215,215,215,1);
        }
        .weui-select, .weui-input {
            height: initial;
            line-height: initial;
            padding-left: 15px;
            font-size: 17px;
            font-weight:500;
            color:rgba(51,51,51,1);
        }
        .weui-input {
            color: #22C8D8
        }
        .weui-textarea {
            height: 100%;
            padding-top: rem(26);
            &::-webkit-input-placeholder { /* WebKit browsers */
                font-size: 17px;
                color:rgba(215,215,215,1);
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                font-size: 17px;
                color:rgba(215,215,215,1);
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                font-size: 17px;
                color:rgba(215,215,215,1);
            }
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                font-size: 17px;
                color:rgba(215,215,215,1);
            }
        }
    }
}
.tips {
    padding: 0 rem(30);
    font-size: 12px;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height: rem(50);
    background:rgba(34,200,216, .05);
}

footer {
    position: fixed;
    bottom: 0; left: 0;
    height: rem(98);
    width: 100%;
    background-color: #22C8D8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight:500;
    > a {
        color:rgba(255,255,255,1);
    }
}